<!DOCTYPE html>
<html>
	<head>
		<title><%= current_page.data.page_title ? "#{current_page.data.page_title} - " : "" %>HashiCorp</title>
		<!-- meta -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
		<!-- salesforce -->
		<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">

    <!-- typekit fonts -->
    <script src="https://use.typekit.net/hnq8lbo.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

		<!-- styles -->
		<%= stylesheet_link_tag "owl.carousel", "owl.transitions", "jquery.jscrollpane", "application" %>

		<!-- lib js -->
		<%= javascript_include_tag "jquery.min" %>
		<%= javascript_include_tag "modernizr" %>
		<%= javascript_include_tag "bootstrap" %>
		<%= javascript_include_tag "owl.carousel" %>
		<%= javascript_include_tag "jquery.jscrollpane.min" %>
		<%= javascript_include_tag "jquery.mousewheel" %>
    <%= javascript_include_tag "lib/Base" %>
    <%= javascript_include_tag "app/Sidebar" %>
		<%= javascript_include_tag "app/hashicorp" %>

		<!-- Atom -->
		<link href="/feed.xml" type="application/atom+xml" rel="alternate" title="HashiCorp ATOM Feed">

		<!-- Analytics -->
		<%= partial "layouts/analytics" %>

	</head>
	<body class="<%= page_classes %>">
		<%= partial "layouts/header" %>
    <%= partial "layouts/sidebar" %>
		<%= yield %>
		<%= partial "layouts/footer" %>
	</body>
	<!-- hc -->
</html>
