---
page_title: Blog
title: Blog
layout: blog
pageable: true
---

<div class="container">
	<div class="col-md-11">
		<% page_articles.each do |article| %>
		<article class="right-aligned">
			<div class="row">
				<!-- post summary content -->
				<div class="col-md-4 col-sm-12 blog-image">
					<% if article.data.list_image_url %>
						<%= image_tag article.data.list_image_url, :width => "287", :height => "284" %>
					<% end %>
				</div>	<!-- span -->
				<div class="col-md-8 col-sm-12">
					<%= partial "layouts/blog_meta", locals: {article: article} %>
					<p><%= article.summary %></p>
					<a class="hbtn plain blue careted read-more" href="<%= article.url %>">read more<span class="hcaret small blue"></span></a>
				</div>	<!-- span -->
			</div>	<!-- row -->
		</article>
		<% end %>
	</div>

	<div class="col-md-11" style="padding: 3em 0; text-align: center;">
		<% if prev_page %>
			<%= link_to "Previous Page", prev_page.url, class: "hbtn outline-btn black small" %>
		<% end %>
		<% if next_page %>
			<%= link_to "Next Page", next_page.url, class: "hbtn outline-btn black small" %>
		<% end %>
	</div>
</div> <!-- container -->
