---
title: Partners
page_title: Partners
---

<section class="page inner-page partners">
	<!-- page title -->

	<div class="inner-page-header" id="subheader">
		<div class="container">
			<div class="row">
				<h1 class="headline">Partners</h1>
			</div>
		</div>
	</div>
	<!-- page contents -->

	<%
		 myPartnersJSON = File.read("source/sipart.json");

		 myPartners = JSON.parse(myPartnersJSON)
		 %>

	<article class="intropart">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<h2>Technology Partners</h2>
					<p> Our strategic <a href="#techparts">Technology Partners</a> are public
						cloud companies and fundamental technology providers with whom we've
						aligned. We are honored to build the future of massively scalable
						application delivery with them.
					</p>
				</div>
				<div class="col-md-6 col-sm-12">
					<h2>System Integration Partners</h2>
					<p> Our <a href="#sipart">System Integration Partners</a> program recognizes
						companies who are leaders, practitioners, and educators of our
						workflow and techniques. They have each demonstrated a deep command of
						our toolset.  They are our trusted partners in teaching and
						implementing the HashiCorp way.  SI Partners are found around the
						world.
					</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</article><!-- partners -->

	<article class="techparts" id="techparts">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>
						Technology Partners
					</h1>
				</div>
			</div> <!-- row -->
			<div class="row">
				<div class="col-xs-12">
					<ul class="techpart-logos unstyled">
						<a href="http://www.aws-partner-directory.com/PartnerDirectory/PartnerDetail?Name=HashiCorp"><li class="tpart tp1"></li></a>
						<a href="https://cloud.google.com"><li class="tpart tp2"></li></a>
						<a href="https://azure.microsoft.com"><li class="tpart tp3"></li></a>
						<a href="http://www.cisco.com"><li class="tpart tp4"></li></a>
						<a href="http://www.vmware.com"><li class="tpart tp5"></li></a>
						<a href="https://www.digitalocean.com/"><li class="tpart tp6"></li></a>
					</ul> <!-- techpart logos -->
				</div> <!-- row -->
		</div> <!-- container -->
	</article> <!-- techparts -->

	<article class="partners sipart" id="sipart">
		<div class="container">
			<div class="row">
				<div class="si-content col-xs-12">
					<h1> System Integration Partners </h1>
				</div>
			</div> <!-- row -->
			<div class="row">

				<% myPartners.each_with_index { |val, index| %>

				<div class="col-xs-12 col-sm-6 col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2 class="pname"><a href=<%= val["url"] %>><%= val["name"] %></a></h2>
						</div> <!-- panel-heading -->
						<div class="panel-body">
							<a href=<%= val["url"] %>><div class="plogo">
									<i class=<%= val["logo"] %> ></i>
							</div></a>
							<p class="ptagline"> <%= val["tagline"] %> </p>
							<p class="plocations"> <i> <%= val["locations"] %> </i> </p>
							<p class="pldesc"> <%= val["ldesc"] %> </p>
							<% if val["contact"] != "" %>
							<span class="atbottom"><a class="hbtn outline-btn buttongray small contactus" href="mailto:<%= val["contact"] %>?subject=HashiCorp Partner request&body=Hello,%0a%0dI'm interested in your HashiCorp expertise.%0a%0dPlease contact me.%0a%0d%0a%0dThank you.%0a%0d%0a%0dBest Regards,"> contact <%= val["pretty"] %> </a></span>
							<% elsif val["contact"] == "" %>
							<span class="atbottom"><a class="hbtn outline-btn gray small contactus">(missing email)</a></span>
							<% end %>
						</div> <!-- panel-body -->
					</div>	   <!-- panel -->
				</div>

				<% if (index + 1) % 2 == 0 %>
				    <div class="clearfix visible-sm-block"></div> <!-- add at multiples of 2 (sm) -->
				<% end %>

				<% if (index + 1) % 3 == 0 %>
				    <div class="clearfix visible-md-block visible-lg-block"></div> <!-- add at multiples of 3 (md & lg) -->
				<% end %>

				<% } %>

			</div> <!-- row -->
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2">
					<p > If your organization is interested in
						becoming a HashiCorp Partner, we welcome you to
						learn more.  Please email us
						at <a href="mailto:partner-request@hashicorp.com?subject=Interested in HashiCorp Partner Program&body=I'd like to learn more about the HashiCorp Partner Program.%0a%0DThank you.">partner-request@hashicorp.com</a>
					</p>
				</div>
			</div>
		</div> <!-- container -->
	</article> <!-- sipart -->
</section>
